<div class="login-container">
  <img class="film" src="assets/images/film.png" alt="doggo">
  <div class="logo">MovieFlix
  </div>
  <div class="desc">
    "Welcome to MovieFlix, your one-stop destination for all things cinema!
    Explore a wide range of movie titles, from classic gems to the latest
    blockbusters. Browse through our collection, discover movie details, and
    stay updated on upcoming releases. Enjoy a seamless movie-watching
    experience with MovieFlix, your go-to source for cinematic delight." - Chat
    GPT
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input type="text" name="uname" class="form-control" [(ngModel)]="username"/>
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input type="password" name="pword" class="form-control" [(ngModel)]="password" />
      <div class="btn-container">
        <div class="error">{{ errorMsg }}</div>
        <button class="btn btn-dark" (click)="login()">Login</button>
      </div>
    </div>
  </div>
</div>
